<% content_for :title do %>
  Reset your password -
<% end %>

<div class="nav-push">
  <h2>Reset your password</h2>
  <p>Please enter and confirm a new password.</p>

  <% if flash[:error] %>
    <div class="row">
      <div class="col-md-6">
        <div class="<%= flash_class(:error) %>">
          <%= flash[:error] %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <%= form_tag do_reset_customer_password_path, class: 'js-judge-validate-reset-password-form' do %>
        <%= hidden_field_tag :token, @customer.password_reset_token %>
        <div class="form-group js-field-group has-feedback">
          <%= password_field_tag :password, "", class: 'form-control input', id: 'js-password', placeholder: 'Password', data: { validate: "[{\"kind\":\"presence\",\"options\":{},\"messages\":{\"blank\":\"can't be blank\"}},{\"kind\":\"confirmation\",\"options\":{},\"messages\":{\"confirmation\":\"doesn't match Password\"}}]" } %>
          <div class="js-errors error-message"></div>
        </div>
        <div class="form-group js-field-group has-feedback">
          <%= password_field_tag :password_confirmation, "", class: 'form-control input', id: 'js-password_confirmation', placeholder: 'Confirm your Password', validate: true %>
          <div class="js-errors error-message"></div>
        </div>
        <div class="form-group">
          <%= submit_tag "Reset Password", class: 'btn btn-success js-track js-judge-validate-reset-password', id: 'js-reset-password-submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
