- flash.each do |key, value|
  %div{class: flash_class(key)}
    = value
= form_for @user_session, url: create_user_session_path, html: { class: 'form-horizontal'} do |form|
  .form-group
    = form.label :username, "User name", class: 'col-xs-2 control-label'
    .col-xs-4
      = form.text_field :username, class: 'form-control', autofocus: 'autofocus'
  .form-group
    = form.label :password, "Password", class: 'col-xs-2 control-label'
    .col-xs-4
      = form.password_field :password, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-xs-6
      = submit_tag "Login", class: 'btn btn-success'
  

    
