<section class="companies-we-feed">
  <div class="container">
    <h2>Who We Service</h2>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/buzzfeed.png', alt: "BuzzFeed" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/pivotal.png', alt: "Pivotal Labs" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/uber.png', alt: "Uber" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/google.png', alt: "Google" %>
        </div></div></div>
      </div>
      
      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/menulog.png', alt: "MenuLog" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/optiver.png', alt: "Optiver" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/facebook.png', alt: "Facebook" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/amazon.png', alt: "Amazon" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/bcg.png', alt: "BCG" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/thoughtworks.png', alt: "Thoughtworks" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/telstra.png', alt: "Telstra" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'about-images/companies_we_feed/nestle.png', alt: "Nestle" %>
        </div></div></div>
      </div>
    </div>

  </div>
</section>
