<section class="proud-to-be-part-of">
  <div class="container">
    <h2>Proud To Be A Part Of</h2>

    <div class="row">
      <div class="col-sm-6 col-md-4 proud-to-be-part-of__muru-d">
        <div class="proud-to-be-part-of__logo"><div class="content"><div class="proud-to-be-a-part-of__inner">
          <%= image_tag 'about-images/proud_to_be/muru_logo.png', alt: "Muru D" %>
        </div></div></div>
        <h3>Class #2 Alumni</h3>
      </div>

      <div class="col-sm-6 col-md-4 proud-to-be-part-of__unsw">
        <div class="proud-to-be-part-of__logo"><div class="content"><div class="proud-to-be-a-part-of__inner">
          <%= image_tag 'about-images/proud_to_be/unsw.png', alt: "Michael Crouch Innovation Centre" %>
        </div></div></div>
        <h3>Catalyst in Residence</h2>
      </div>

      <div class="col-sm-6 col-md-4 proud-to-be-part-of__heads-over-heels">
        <div class="proud-to-be-part-of__logo"><div class="content"><div class="proud-to-be-a-part-of__inner">
          <%= image_tag 'about-images/proud_to_be/hoverheels.png', alt: "Heads Over Heels" %>
        </div></div></div>
        <h3>Portfolio</h3>
      </div>

      <div class="col-sm-6 col-md-4 proud-to-be-part-of__food-tech-aus">
        <div class="proud-to-be-part-of__logo"><div class="content"><div class="proud-to-be-a-part-of__inner">
          <%= image_tag 'about-images/proud_to_be/ftaus.png', alt: "Food Tech Australia" %>
        </div></div></div>
        <h3>Main Sponsor</h3>
      </div>
      
      <div class="col-sm-6 col-md-4 proud-to-be-part-of__telstra">
        <div class="proud-to-be-part-of__logo"><div class="content"><div class="proud-to-be-a-part-of__inner">
          <%= image_tag 'about-images/proud_to_be/teslbus.png', alt: "Telstra Business Women's Awards" %>
        </div></div></div>
        <h3>Spokesperson</h3>
      </div>

      <div class="col-sm-6 col-md-4 proud-to-be-part-of__the-marketing-academy">
        <div class="proud-to-be-part-of__logo"><div class="content"><div class="proud-to-be-a-part-of__inner">
          <%= image_tag 'about-images/proud_to_be/macademy.png', alt: "The Marketing Academy" %>
        </div></div></div>
        <h3>Scholar</h3>
      </div>
    </div>

  </div>
</section>
