= form_for @customer, url: customer_form_url, html: { class: 'form-horizontal'} do |form|
  .form-group
    = form.label :name, "Customer's Name", class: 'col-xs-2 control-label'
    .col-xs-2
      = form.text_field :first_name, class: 'form-control input-sm', placeholder: 'first name'
    .col-xs-2
      = form.text_field :last_name, class: 'form-control input-sm', placeholder: 'last name'
  .form-group
    = form.label :company_name, "Company Name", class: 'col-xs-2 control-label'
    .col-xs-4
      = form.text_field :company_name, class: 'form-control input-sm'
  .form-group
    = form.label :email, "Email", class: 'col-xs-2 control-label'
    .col-xs-4
      = form.text_field :email, class: 'form-control input-sm'
  .form-group
    = form.label :telephone, "Phone", class: 'col-xs-2 control-label'
    .col-xs-4
      = form.text_field :telephone, class: 'form-control input-sm'
  .form-group
    .col-sm-offset-2.col-xs-6
      = submit_tag "Save Customer Details", class: 'btn btn-success'
