<h1 class="main-title">You have received a new partner enquiry!</h1>

<p>Hi Team,</p>
<p>Details are as follows:</p>

<p>
  <strong>Delivery: <span style='font-weight: normal'><%= @form_params[:delivery] %></span><br>
  <strong>Name: <span style='font-weight: normal'><%= @form_params[:name] %></span><br>
  <strong>Email: <span style='font-weight: normal'><%= @form_params[:email] %></span><br>
  <strong>Phone: <span style='font-weight: normal'><%= @form_params[:phone] %></span><br>
  <strong>Company Name: <span style='font-weight: normal'><%= @form_params[:company_name] %></span><br>
  <strong>Website: <span style='font-weight: normal'><%= @form_params[:website] %></span><br>
  <strong>More Info: <span style='font-weight: normal'><%= @form_params[:more_info] %></span></p>
