<div class="row">
  <div class="col-xs-12">
    <div class='customer-name'>
      <label>Email</label>
      <%= @enquiry.customer_email %>
      <br />
      <label>Contact</label>
      <%= @enquiry.customer_name %> - <%= @enquiry.customer_telephone %>
      <br />
      <label>Delivery Contact</label>
      <%= @enquiry.customer_additional_name %> - <%= @enquiry.customer_additional_telephone %>
      <br />
    </div>
  </div>
</div>
